.chat {
  width: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chatBox {
  width: 100vw;
  height: 50vh;
}

.userList {
  width: 25%;
}

.chatList {
  width: 70%;
  margin-left: 5%;
}